* {
    color: black;
    font-family: verdana arial sans-serif;
}
body {
    background-color: #F7D4DC;
    font-size: 1.2em;
}
main {
    clear: both;
    margin: 20px auto;
    width: 100%;
}
header {
    background-color: #D61A46;
    color: #ffffff;
}
.header-title {
    text-align: center;
    height: 100%;
    padding: 10px;
}
nav {
    text-align: center;
    content: "";
    clear: both;
    display: flex;
    justify-content: center;
}
nav a {
    width: 90px;
    padding: 2px;
    margin: 5px;
    float: left;
    position: relative;
    height: 50px;
}
nav a:hover {
    background-color: #FC7307;
    margin-bottom: 0;
    border-bottom: 5px solid #F7D4DC;
}
footer {
    background-color: black;
    height: 150px;
}
.profile {
    margin: 20px auto;
    content: "";
    clear: both;
    background-color: #FC7307;
    padding: 10px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
}
.profilePic {
    padding: 10px 20px;
    text-align: center;
    margin: auto;
}
.profilePic > img {
    margin: auto;
    border-radius: 100px;
    padding: 1px;
    border: 3px solid #D61A46;
    height: 136px;
}
.socialLinks {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.socialLinks > a {
    text-decoration: none;
    margin: 10px;
    padding: 2px;
}
.socialLinks >a:hover{
    padding: 1px;
    border: 1px solid white;
}
.socialLinks > a > img {
    height: 60px;
    margin-bottom: -5px;
}
.profileData {
    padding: 10px;
    overflow: auto;
    flex-grow: 1;
}
.profileData > article {
    display: flex;
}
.itmDesc {
    flex-grow: 1;
    max-width: 100px;
}
.itmVal {
    flex-grow: 2;
    text-align: right;
    padding-left: 5px;
    max-width: 300px;
}

/*css per la pagina contatta.html*/
.form-header {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}
.form-group {
    margin: 5px;
    padding: 10px;
}
.form-footer {
    margin-left: 100px;
}
.form-footer input {
    padding: 15px;
    width: 100px;
    font-size: 1em;
    margin-top: 10px;
}
.form-footer input[type="submit"] {
    background-color: #559E54;
    border: 2px solid #559E54;
}
.form-footer input[type="submit"]:active {
    background-color: rgb(67, 122, 66);
}
.form-footer input[type="reset"] {
    background-color: #000000;
    border: 2px solid #000000;
    color: #ffffff;
}
.form-footer input[type="reset"]:active {
    background-color: #5f5f5f;
}
.form {
    margin: 20px auto;
    content: "";
    clear: both;
    background-color: #FC7307;
    padding: 20px;
    max-width: 600px;
}
.formBody {
    width: 100%;
    margin-bottom: 5px;
    line-height: 20px;
    text-align: center;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
}
.formBody > article {
    display: flex;
    width: 100%;
}
.formBody > article > label {
    width: 100px;
    margin-top: 6px;
}
.formBody > article > input, textArea {
    flex-grow: 2;
    margin-bottom: 5px;
    line-height: 30px;
    font-size: 1em;
    border: 1px solid #a51a1a;
}
textArea {
    resize: none;
    height: 100px;
}
